
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4>Yeni Sertifika Ekleme Sayfası</h4>

<form method="post">

    <input type="text" name="Tarih" class="form-control" placeholder="Sertifika Tarihi Ekleyiniz" />
    <br />
    <input type="text" name="Aciklama" class="form-control" placeholder="Sertifika Açıklaması Giriniz" />
    <br />

    <button class="btn btn-info">Kaydet</button>

</form>